.container {
  padding-top: 5%;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container img {
  width: 15rem;
  height: 15rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form button {
  margin-top: 1.5rem;
  width: 12rem;
  height: 4rem;
}

a {
  margin-top: 1.5rem;
  width: 12rem;
  height: 4rem;
  background: linear-gradient(180deg, #e34f4f 0%, rgba(194, 58, 58, 0.65) 100%);
  border: none;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: normal;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

a:hover {
  background: linear-gradient(180deg, #e34f4f 0%, rgb(248, 3, 3) 100%);
}

.form input + input {
  margin-top: 1rem;
}

.form button + button {
  margin-top: 1rem;
}

h1 {
  color: #fff;
  font-family: Inter;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .container img {
    width: 14rem;
    height: 14rem;
  }

  .form button {
    width: 12rem;
    height: 4rem;
  }

  a {
    width: 12rem;
    height: 4rem;
    font-size: 1rem;
  }
}
