.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 25px;
  margin-bottom: 5rem;
}

.header span {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.header a {
  background: none;
  font-size: 14px;
}

.header a:hover {
  background: none;
  color: red;
}
